<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title>Node.js</title>
</head>

<body>
    <%- include ('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">Quiénes somos</h1>
            <p class="d-flex justify-content-center">
                Misión: Nuestra misión es ofrecer soluciones tecnológicas innovadoras que impulsen el
                crecimiento y la transformación digital de nuestros clientes. Nos comprometemos a
                brindar productos y servicios de calidad que satisfagan las necesidades de manera
                efectiva y eficiente. </p>
            <p class="d-flex justify-content-center">
                Visión: Ser reconocidos como líderes en el sector tecnológico, destacando por nuestra
                excelencia en la entrega de soluciones personalizadas y nuestra capacidad para
                adaptarnos y abrazar las últimas tendencias tecnológicas. Aspiramos a establecer
                relaciones duraderas con nuestros clientes, basadas en la confianza y el éxito mutuo. </p>
            <p class="d-flex justify-content-center">
                Quiénes somos: Somos InnovateTech Solutions, una empresa líder en soluciones
                tecnológicas innovadoras. Nuestro equipo está compuesto por expertos apasionados por
                la tecnología, comprometidos en ofrecer resultados excepcionales a nuestros clientes.
                Nos enfocamos en impulsar el crecimiento y la transformación digital de las empresas a
                través de soluciones personalizadas y vanguardistas. Con una combinación de
                experiencia y creatividad, estamos listos para ayudarte a alcanzar tus objetivos
                tecnológicos y destacar en un mundo digital en constante evolución.</p>
        
        </section>
    </main>
    <%- include ('partials/footer') %>
</body>

</html>