<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title>Node.js</title>
</head>
<body>
    <%- include ('partials/navigation') %>

<!-- MAIN CONTENT -->
<header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="img/IMG_20221222_003913_547-fotor-20230806145631.png" alt="" class="img-fluid">
    <h1 class="display-1 my-5 text-uppercase fw-bold">InnovateTech Solutions</h1>
    <a href="/about" class="btn btn-primary w-25">About</a>
</div>
</header>
        
    <%- include ('partials/footer') %>
</body>
</html>