<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include ('partials/head') %>
		<title>Node.js</title>
	</head>
	<body>
		<%- include ('partials/navigation') %>
		<h1 class="display-1 d-flex justify-content-center">
			Portafolio de proyectos
		</h1>
		<div class="container mt-4">
			<h2 class="d-flex justify-content-center my-4">
				Nuestro portafolio de proyectos muestra nuestra experiencia y el impacto
				que hemos tenido en diversas industrias. Hemos trabajado con empresas de
				diferentes tamaños y sectores, brindándoles soluciones tecnológicas a
				medida que han mejorado su eficiencia operativa y su presencia en línea.
				Estos son algunos de nuestros proyectos destacados:
			</h2>
		</div>

		<div class="container mt-4">
			<ul class="list-group">
				<li class="list-group-item">
					Proyecto A: Desarrollo de una plataforma de comercio electrónico
					escalable para una empresa minorista líder.
				</li>
				<li class="list-group-item">
					Proyecto B: Diseño y desarrollo de una aplicación móvil de reserva de
					citas para una clínica médica
				</li>
				<li class="list-group-item">
					Proyecto C: Implementación de un sistema de gestión de inventario
					personalizado para una cadena de distribución.
				</li>
				<li class="list-group-item">
					Proyecto D: Diseño y desarrollo de un sitio web interactivo para una
					agencia de marketing digital.
				</li>
			</ul>
		</div>

		<div class="container mt-4">
			<!-- Utiliza la clase "my-4" para agregar margen vertical al párrafo -->
			<p class="d-flex justify-content-center my-4">
				Estos proyectos son solo ejemplos de nuestro trabajo. Estamos listos
				para abordar nuevos desafíos y encontrar soluciones innovadoras para tu
				empresa.
			</p>
		</div>

		<%- include ('partials/footer') %>
	</body>
</html>
