<footer class="bg-dark text-center p-4">
	<div class="container mt-8">
        <p class="d-flex justify-content-center">
            Si deseas obtener más información sobre nuestros servicios o discutir tus
            necesidades tecnológicas, no dudes en ponerte en contacto con nosotros.
            Estamos aquí @hdtoledo para ayudarte en cada paso del camino. Puedes
            comunicarte con nosotros a través de los siguientes medios:
        </p>
    </div>
    <div class="container mt-8">
        <ul class="list-group">
            <li class="list-group-item">Teléfono: +XXX XXXX XXXX</li>
            <li class="list-group-item">Correo electrónico: info@innovatetechsolutions.com</li>
        </ul>
    </div>
    
    <div class="container mt-8">
        <p class="d-flex justify-content-center">
            Completa el formulario de contacto en nuestro sitio web, crear un formulario de contacto
    con los campos Email, Asunto, Mensaje y botón enviar.
        </p>
    </div>
</footer>



<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
	crossorigin="anonymous"
></script>
